.login {
    width: 450px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 10%;
}

.login-area {
    border: solid 1px #dfdada;
    border-radius: 5px;
    padding: 15px;
}

.login-page {
    max-width: 350px;
    display: inline-flex;
    width: 100%;
}

.copyright {
    font-size: 0.75rem;
}

@media (max-width: 768px) {
    .login {
        width: 100%;
    }
}