#sidebar {
    width: 15rem;
}

#main {
    width: calc(100% - 15rem);
}

.offcanvas-body li.nav-item {
    font-size: 16px;
    margin-bottom: 10px;
}

fieldset.form-fieldset {
    padding: 1rem;
    border: 1px solid #cbd5e0;
    border-radius: .25rem;
    margin-bottom: 1rem;
}

.form-fieldset>legend {
    width: auto;
    padding: 0 .5rem;
    margin-bottom: 0;
    float: none;
    font-size: medium;
}

.form-label {
    font-weight: 400;
    font-size: 1rem;
}

.hidden {
    display: none;
}

.custom-h-100 {
    height: 100px !important;
}

.h-120 {
    height: 120px !important;
}

.text-default {
    color: #4c4e52;
}

td a.btn-action i {
    font-size: 1.15rem;
    margin-left: 5px;
    margin-right: 5px;
}

.post-thumbnail.w-100 {
    border: dashed 1px #c9c2c2;
    min-height: 250px;
}

.btn-secondary {
    background-color: #4c4e52;
    border-color: #4c4e52;
}

.seo-status {
    font-size: 10px;
}

.font-30 {
    font-size: 1.25rem;
}

.bootstrap-tagsinput {
    width: 100%;
}

.image-area {
    background-image: url('../img/placeholder/placeholder.png');
}

.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
    background-color: #6b7281;
    padding: 2px 5px;
    border-radius: 5px;
}

.bg-custom-dark {
    background-color: #23282d;
    color: #FFFFFF;
}

.filters a {
    color: #747578;
}

.filters a.active {
    color: #6366f1;
}

figure.wwt-intext-image {
    max-width: 100% !important;
}

figcaption.wwt-intext-image-caption {
    font-style: italic;
    background: #eee;
    padding: 10px;
    font-size: 0.75rem;
    top: 0;
}

.whatsapp {
    color: #0f9a43;
}

.facebook {
    color: #405d9b;
}

.twitter {
    color: #36abf3;
}

.instagram {
    color: #f783ac;
}

.youtube {
    color: #d02d2c;
}

.telegram {
    color: #61a8de;
}

.linkedin {
    color: #007bb5;
}

.tiktok {
    color: #fe2c55;
}

.rss {
    color: #ee802f;
}

#sidebar.navbar-dark {
    background-color: #1e2022;
}

.bootstrap-tagsinput .tag {
    background-color: #4b5563;
}

@media (min-width: 1200px) {
    .fixed-sidebar #main {
        margin-left: 15rem;
    }
}